* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.button {
    display: inline-block;
    width: 10ch;
    padding: 10px 15px;
    margin: 0 10px;
    color: whitesmoke;
    background-color: steelblue;
    border-radius: 8px;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    background-color: dodgerblue;
}

.subtitle-text {
    width: 35ch;
    text-align: center;
    margin: 20px auto;
}

#score-board {
    text-align: center;
}

#score-board p {
    font-size: large;
    font-weight: 600;
}

.score {
    display: inline-block;
    width: 20ch;
    margin: 0 15px;
    padding: 10px 5px;
    border: 1px solid black;
}

#selection-list {
    display: block;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.restart-button {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.hide {
    display: none;
}

#rounds-list {
    text-align: center;
    list-style: none;
    margin: 20px auto;
    padding: 0;
}